* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.ctn-sneakers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sneaker-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.color-picker-ctn {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {background-color: blue;}
.black {background-color: black;}
.white {background-color: white;}
.lavendre {background-color: rgb(255, 170, 245);}
.vert {background-color: rgb(138, 255, 196);}
.grey {background-color: rgb(163, 163, 163);}
.beige {background-color: rgb(230, 191, 191);}

.selected {
    border: 3px solid rgb(9, 255, 0);
}

.cart-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.cart-ctn {
    background: #f5f5f5;
    position: absolute;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100vh;
    max-width: 100vw;
    z-index: 9;
    padding-top: 80px;
}

.open-cart {
    right: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.cart-sneaker-img {
    width: 50px;
    border-radius: 50%;
}

/*ajout du java */

.sneaker-img {
    width: 100px;
}

.sneaker-img:hover {
    -webkit-transform: scale(1.2);
    
}

.sneakers-description-global {
    border-color: grey;
    border-radius: 10px;
    border: solid;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
    width: 500px;
}

.barre {
    width: 100%;
    border-color:rgba(0, 0, 0, 0) ;
    border: 1px solid ;
    margin: 5px;
}

.sneakers-description {
    font-size: 20px;
    
}

.sneaker-prix {
    border-color: grey;
    border-radius: 10px;
    border: solid;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
}

.sneaker-prix:hover {
    -webkit-transform: scale(1.2);
}

.div-caracteristique {
    display: flex;
    justify-content: end;
}

.sneaker-btn {
	box-shadow: 0px 10px 14px -7px #b7f2fc;
	background:linear-gradient(to bottom, #b7f2fc 5%, #408c99 100%);
	background-color:#b7f2fc;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b7f2fc;
    border: transparent;
}
.sneaker-btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #b7f2fc 100%);
	background-color:#408c99;
}
.sneaker-btn:active {
	position:relative;
	top:1px;
}

.sneakers-caracteristique {
    border-color: grey;
    border-radius: 10px;
    border: solid;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
}

div#texte-afficher {
    display: none;
}

 
